body {
  height: 95.5vh;
  background: linear-gradient(rgb(47,150,163), rgb(48,62,143));
}

h1 {
  font-family:Baskerville,Times,'Times New Roman',serif;
  font-size:40px;
  color:#ffffff;
  font-variant:small-caps;
  text-align:center;
  font-weight:bold;
  padding:0px 0px 0px 0px; /* Tweak this to your liking */
  }

p {
  color: aqua;
  font-family: verdana;
  font-size: 20px;
}
p.solid {border-style: solid;}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 0px;
}

.center2 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}

button {
  background-color: #36567a; /* Green */
  border: none;
  color: rgb(209, 204, 204);
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}


.button1 {border-radius: 8px;}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: top;
  top: 0;
  width: 100%;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #71c1f7;
}